.navbar {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 1000;
}

.navbar-nav {
  margin-right: 100px; 
}

.navbar-nav li {
  margin-left: 40px; 
}

li{
  font-weight: bold;
}



.active-link {
  color: #ff0000; 
}

.nav-item:hover{
  
  border-bottom: 4px solid #462c16;
}